<div class="row mt-4">
  <div class="col-md-6">
    <h3>Update blog:</h3>

    <form class="form update-blog-form">
      <div class="form-group">
        <label for="blog-name">Blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-subject">Subject:</label>
        <input class="form-input" type="text" id="blog-subject" name="blog-subject" />
      </div>
      <div class="form-group">
        <label for="blog-desc">description:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Blog</button>
        <button id="del-btn" class="btn btn-primary">Delete Blog</button>
      </div>
    </form>
  </div>

  <script src="../public/js/edit-delete.js"></script>