body {
    background-color: cadetblue;
    height: 100vh;
}

#header {
    background-color: white;
}

#blog-card {
    background-color: white;
}

#blog-info {
    background-color: gray;
}

#blog-title {
    color: white;
}

.subject-text {
    font-weight: bolder;
}

#blog-content {
    background-color: white;
}

h1 {
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 40px;
}

#nav-bar {
    font-size: 25px;
}